<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="logFileName">applog</Property>
        <Property name="consoleLayout">%style{%d{ISO8601}}{black} %highlight{%-5level
            }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>
        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%-6p] %C{1}.%M(%F:%L) - %m%n" />
        </Console>
        <!-- <RollingFile name="file" fileName="logs/${logFileName}.log"
            filePattern="logs/${logFileName}.%d{yyyy-MM-dd-hh}.log">
            <PatternLayout pattern="${fileLayout}" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min" />
        </RollingFile> -->
    </Appenders>

    <Loggers>

        <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE -->
        <Root level="INFO">
            <AppenderRef ref="console" />
            <!-- <AppenderRef ref="RollingFile" /> -->
        </Root>
    </Loggers>
</Configuration>